@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Press+Start+2P&family=ZCOOL+XiaoWei&display=swap');

body {
    background: #F6F2EF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .6rem 4fr .6rem .5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    padding: 1.6rem;
}

.game-header{
    grid-column: 1 / 3;
    display: flex;  
    align-items: center;
    font-size: 4rem;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center
}

.header-left h1{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 500;
}

.header-left img {
    width: 2.8rem;
    margin-left: 4.8rem;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right p {
    font-size: 1.7rem;
    text-align: end;
    margin-right: 3rem;
}

.header-right img {
    width: 3rem;
    margin-right: 1.5rem;
}

.separator { 
    width: 100%;
    height: 1px;
    background-color: #E5E1DC;
    grid-column: 1 / -1;
}

.header-separator {
    grid-row: 2 / 3;
}

.game-main {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.player-side {
    width: 50%;
}

.player-side h2, .ai-side h2{
    font-size: 3rem;
    font-family: "Press Start 2P", system-ui;
}

.player-choice__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    height: 35%;
}

.btn-choice {
    border: none;
    background: none;
    cursor: pointer;
}

.btn-choice img {
    width: 7rem;
}

.player-choice__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.player-choice__placeholder  p {
    color: rgb(204, 200, 200);
    margin-top: 1rem;
    font-size: 1.6rem;
}
.fist-placeholder {
    width: 9rem;
}

.game-separator__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-separator {
    display: inline-block;
    height: 85%;
    width: 1px;
    background-color: rgb(204, 200, 200);
}

.ai-side {
    width: 50%;
}

.ai-side h2 {
    text-align: end;
}

.game-footer {
    grid-column: 1 / -1;
}

.rules-p {
    font-size: 0.85rem;
}