@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=ZCOOL+XiaoWei&display=swap');

*,  
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "ZCOOL XiaoWei", sans-serif;   
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #E7E3E1;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #000;

}

a:hover {
    color: #C8102E;
}
